body{
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    height: 98dvh;
    width: 99dvw;
    background-image: url('img/5_background/desert-background2.png');
    background-position: center;
    background-size: cover;
}

canvas{
    background-color: black; 
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
} 